/*========================================================================
   MegaMall.ph Theme 2014
==========================================================================*/

* {
	margin: 0;
}

html {
	padding: 0;
	margin: 0;
	min-height: 100%;
	position: relative;
}

body {
	font-size: 13px;
	padding: 50px 0 0 0;
	overflow-y: scroll;
	margin-bottom: 71px;
}

a, button {
	outline: none !important;
}

.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active > a:hover {
	background-color: #428bca;
	color: #fff;
}

#link-create-store > a, #link-create-store > a:hover {
	background-color: #767676;
	color: #fff;
}

.logo {
	padding-right: 0;
}

.navbar {
	border-radius: 0;
	min-height: 0;
	line-height: 28px;
	font-size: 0.85em;
}

.navbar-nav > li > a {
	padding: 4px 8px;
}

.navbar-nav {
	background-color: inherit;
}

#navbar-top {
	box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
	z-index: 1500;
}

#navbar-main .navbar-nav > li > a:hover {
	background-color: #D2322D;
	color: #fff;
}

#navbar-main .navbar-nav > li + li {
	border-left: 1px solid #eee;
}

.nav-pills > li > a {
	padding: 4px 8px;
	border-radius: 0;
}

.nav-pills > li > a:hover {
	background-color: #4c81cc;
	color: #fff;
}

.nav-pills > li + li {
	border-left: 1px solid #eee;
}

.nav-welcome {
	float: right;
	margin-right: 20px;
}

#link-create-store {
	margin-left: 1px;
}

.form-group {
	margin-bottom: 10px;
}

body > .popover {
	position: fixed;
	z-index: 2000;
	width: 100%;
}

.popover-content input.form-control {
	padding: 0 8px;
	height: 30px;
	font-size: 0.9em;
}

.popover-content .form-control + .form-control {
	margin-top: 10px;
}

.popover-title {
	font-size: 0.9em;
}

.popover-title img {
	margin: 0 0 3px 5px;
}

.popover-content {
	padding-bottom: 15px;
}

.filler-text {
	text-align: center;
	font-size: 0.9em;
	font-weight: bold;
	padding: 5px 0;
}

.nivoSlider {
	box-shadow: 0 0 5px 1px rgba(0,0,0,.15);
}

.slider-wrapper + .slider-wrapper {
	margin-top: 20px;
}

header .row:not(.visible-xs) + .row {
	margin-top: 20px;
}

header .visible-xs {
	margin-bottom: 20px;
}

.panel .social-btn-box + .social-btn-box {
	margin-top: 10px;
}

.panel-primary > .panel-heading a {
	color: #fff;
}

.panel-group .panel {
	border-radius: 0;
}

.panel-group .panel .panel-heading {
	cursor: pointer;
}

.form-group .label {
	border-radius: 0;
	display: inherit;
	text-align: left;
	font-weight: normal;
}

a + .label-default {
	margin-left: 4px;
}

#navbar-main {
	font-size: 1.2em;
	white-space: nowrap;
	padding-left: 0;
	padding-right: 0;
}

#nav-bottom > .nav-pills {
	float: right;
}

.product-box {
	font-size: 0.9em;
	margin-bottom: 20px;
	text-align: center;
}

.product-showcase {
	padding: 10px;
	margin-bottom: 4px;
	position: relative;
}

.product-showcase img {
	margin: auto;
}

.zoomLens {
	cursor: crosshair;
}

.product-thumb {
	display: inline-block;
	border: 1px solid #fff;
	cursor: pointer;
}

.product-image {
	margin: 0 auto 10px auto;
	box-sizing: content-box;
	display: table;
}

.product-image .inner {
	display: table-cell;
	vertical-align: bottom;
}

.product-name {
	font-weight: bold;
}

.product-price {
	font-size: 1.35em;
}

.old-price {
	color: #F00;
	text-decoration: line-through;
	margin-right: 5px;
	display: inline-block;
}

.product-notice {
	color: #999;
}

.product-box .star-rating {
	margin: 0 auto;
}

.item-info .star-rating {
	display: inline-block;
}

.item-info h3 {
	margin-bottom: 0;
}

.item-info .btn-lg {
	margin-top: 20px;
}

.item-info .product-price {
	font-size: 2.5em;
}

.message-subject {
	float: left;
}

.message-user {
	position: relative;
	display: block;
	font-weight: bold;
	clear: both;
}

.message-user a {
	color: #d9534f;
}

.message-user.me {
	float: right;
}

.message-user.me a {
	color: #428bca;
}

.message-box {
	position: relative;
	clear: both;
	width: 100%;
}

.message-box .popover {
	display: inline-block;
	position: inherit;
	max-width: none;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.20);
}

.message-box .popover .popover-content {
	padding: 10px;
}

.message-box .right {
	float: left;
}

.message-box .left {
	float: right;
}

.message-time {
	position: relative;
	clear: both;
	float: left;
	margin-top: 10px;
	font-size: 0.8em;
	color: #bbb;
}

.message-box.me .popover {
	background-color: #eee;
}

.message-box.me .popover.left .arrow:after {
	border-left-color: #eee;
}

.message-time.me {
	float: right;
}

.message-user + .message-box {
	padding-top: 5px;
}

.message-box + .message-user {
	padding-top: 20px;
}

.message-box + .message-box {
	padding-top: 10px;
}

.message-input {
	position: relative;
	display: block;
	clear: both;
}

.chat-box {
	min-height: 200px;
	overflow-y: auto;
}

.review-panel strong {
	margin-right: 4px;
}

.review-panel .star-rating {
	float: right;
}

.btn .glyphicon, .review-panel .panel-heading .glyphicon {
	margin-right: 4px;
}

.form-group .glyphicon {
	z-index: 3;
}

.info-line {
	margin: 3px 0;
}

.info-line [class*="col-"]:first-child {
	padding-left: 0;
}

.info-line [class*="col-"]:last-child {
	padding-right: 0;
}

.info-line .pull-left + .pull-left {
	margin-left: 20px;
}

.rating-filler {
	padding-bottom: 17px;
}

.row + .sub-title {
	border-top: 1px solid #eee;
}

.glyphicon-info-sign {
	color: #2565c1;
	cursor: pointer;
}

.panel {
	box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
}

.well {
	background-color: #d2322d;
	border-color: #d2322d;
	color: #fff;
	border-radius: 0;
	padding: 5px;
	font-size: 0.9em;
	box-shadow: none;
	margin-bottom: 10px;
}

.well select, .well input {
	color: #000;
	padding: 2px 5px;
	line-height: 1.5;
	margin: 0 5px;
}

.well a {
	color: #fff;
	text-decoration: underline;
}

.well ul {
	margin-top: 10px;
}

.tooltip-inner {
	text-align: left;
}

.form-note {
	margin-top: 20px;
	margin-bottom: 20px;
}

.breadcrumb {
	border-radius: 0;
	background-color: transparent;
	padding: 8px 0;
	margin-bottom: 0;
}

.btn-hidden {
	background-color: #d2322d;
	border-color: #d2322d;
}

span.btn span {
	margin-left: 5px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sub-title {
	padding-top: 20px;
}

.sub-title h3, .controls h3 {
	margin: 0;
	line-height: inherit;
}

.controls {
	margin-bottom: 20px;
	padding-top: 20px;
}

#pw-feedback {
	padding-top: 11px;
}

.fa-fw {
	margin-right: 4px;
}

.dropdown-menu {
	font-size: 1.2em;
}

.dropdown-menu.selectpicker {
	font-size: 13px;
}

.nav-tabs .dropdown-menu {
	font-size: 1em;
}

.tab-content {
	padding: 10px;
}

.nav-tabs > li > a {
	font-size: 14px;
}

.nav-tabs > li > a:hover {
	border-color: #428bca;
	background-color: #428bca;
	color :#fff;
}

.nav-tabs > li > a:hover > .badge {
	background-color: #fff;
	color: #428bca;
}

.nav-tabs > li > a > .badge, .nav-tabs > li.active > a:hover > .badge {
	background-color: #428bca;
	color: #fff;
}

button.btn-write-review.visible-xxs {
	margin-bottom: 20px;
}

.ga {
	margin-top: 20px;
	/*border: 1px solid #eee;*/
}

.loader {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10000;
	background-color: #000;
	width: 100%;
	height: 100%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	-moz-opacity: 0.2;
	-khtml-opacity: 0.2;
	opacity: 0.2;
	text-align: center;
}

.loader img {
	vertical-align: middle;
}

.loader .helper {
	display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.visible-xxs {
	display: none;
}

.review-panel .label {
	font-weight: normal;
	border-radius: 0;
}

.has-feedback label.sr-only ~ .form-control-feedback {
    top: 0;
}

.review-panel .report {
	position: absolute;
	bottom: 4px;
	right: 7px;
}

.review-panel .panel-body {
	padding-bottom: 25px;
}

.panel-heading, .panel-body {
	position: relative;
}

.panel-heading input.form-control {
	font-weight: normal;
}

.list-group .no-link {
	cursor: inherit;
}

.list-group .no-link:hover {
	background-color: inherit;
}

.list-group-item-danger, .list-group-item-primary, .list-group-item-skype, .list-group-item-yahoo {
	color: #fff !important;
}

.list-group-item-danger {
	background-color: #d9534f;
	border-color: #d9534f;
}

.list-group-item-danger:hover {
	background-color: #d2322d !important;
	border-color: #d2322d !important;
}

.list-group-item-primary {
	background-color: #428bca !important;
	border-color: #428bca !important;
}

.list-group-item-skype {
	background-color: #00a7e4;
	border-color: #00a7e4;
}

.list-group-item-skype:hover {
	background-color: #029dd6 !important;
	border-color: #029dd6 !important;
}

.list-group-item-yahoo {
	background-color: #4b03b9;
	border-color: #4b03b9;
}

.list-group-item-yahoo:hover {
	background-color: #40029f !important;
	border-color: #40029f !important;
}

.list-group-collapse {
	margin-bottom: 20px;
}

.list-group-navbar {
	position: relative;
	min-height: 50px;
	margin-bottom: 1px;
	border: 1px solid #eee;
}

.list-group.navbar-collapse {
	padding-right: 0;
}

.list-group-item p {
	margin: 0;
}

.badge-danger {
	color: #fff;
	background-color: #d2322d;
}

.red, .link-report {
	color: #d9534f !important;
}

.blue {
	color: #428bca !important;
}

.yahoo {
	color: #4b03b9;
}

.skype {
	color: #00a7e4;
}

.message-list tbody tr {
	cursor: pointer;
}

tr.unread td {
	font-weight: bold;
}

.alert {
	font-size: 1.2em;
}

.option-left {
	float: left;
}

.option-right {
	float: right;
}

.option-left .btn + .btn, .option-right .btn + input {
	margin-left: 4px;
}

.option-right select {
	margin: 0 4px;
}

hr {
	margin: 10px 0;
}

em {
	color: #aaa;
}

h5 {
	line-height: 1.5em;
}

@media (max-width: 1024px) {
	.logo img {
		margin-bottom: 10px;
	}

	.product-showcase {
		height: auto !important;
		margin: 20px auto;
	}
}

@media (max-width: 990px) {
	.panel .social-btn-box + .social-btn-box {
		margin-top: 0;
	}
}

@media (min-width: 768px) {
	.list-group-navbar {
		display: none;
	}
}

@media (max-width: 768px) {
	body {
		font-size: 16px;
		padding-top: 70px;
	}
	
	button.navbar-toggle {
		margin-right: 10px;
	}

	#navbar-top .navbar-collapse, #navbar-top .col-md-12, .category-nav .col-md-12 {
		padding-right: 0;
		padding-left: 0;
	}

	.category-nav, #navbar-top > .container > .row {
		margin-right: -15px;
		margin-left: -15px;
	}

	#navbar-top > .container > .navbar-header {
		padding: 0;
	}

	#navbar-top-content {
		border: none !important;
	}

	.navbar-nav {
		margin: 0;
		width: 100%;
	}
	
	.navbar-nav li {
		display: block;
		width: 100%;
	}

	.navbar-nav > li > a {
		line-height: 3em;
		padding-left: 20px;
	}

	.navbar-nav:first-child, .navbar-nav > li + li {
		border-top: 1px solid #ddd;
	}

	#nav-bottom > .nav-pills {
		float: left;
	}

	#crumbs {
		display: none;
	}

	.review-panel .star-rating {
		float: none;
	}

	.review-panel .label {
		position: absolute;
		right: 0;
		top: 0;
	}

	.nav-tabs {
		border-bottom: none;
	}

	.nav-tabs > li {
        float: none;
    }

    .nav-tabs > li > a {
    	border: 1px solid #ddd;
    	margin-right: 0;
    }

    .nav-tabs > li + li > a {
    	border-radius: 0;
    }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover {
    	border-color: #428bca;
		background-color: #428bca;
		color :#fff;
    }

    .nav-tabs > li.active > a > .badge,  .nav-tabs > li.active > a:hover > .badge{
    	background-color: #fff;
    	color: #428bca;
    }

    .nav-tabs > li > a:hover {
    	color: #428bca;
    	background-color: #fff;
    	border-color: #ddd;
    }

    .nav-tabs > li > a:hover > .badge {
		background-color: #428bca;
		color: #fff;
	}

	.tab-content {
		border: 1px solid #ddd;
	}

	.tab-content .btn.visible-xs {
		margin-bottom: 20px;
	}

	.list-group.navbar-collapse .list-group-item:first-child {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	.fa-search {
		margin-right: 0;
	}

	#link-create-store {
		margin-left: 0;
	}

	.btn-responsive {
		display: block;
		width: 100%;
	}

	.btn-responsive + .btn-responsive {
		margin-top: 5px;
	}
}

@media (max-width: 480px) {
	.option-left, .option-right {
		float: none;
		text-align: center;
	}

	.option-left + .option-right {
		margin: 10px 0 0 5px;
	}

	.hidden-xxs {
		display: none !important;
	}

	.visible-xxs {
		display: inherit !important;
	}

	.panel .social-btn-box + .social-btn-box {
		margin-top: 10px;
	}

	.product-showcase {
		padding: 5px;
	}

	.info-line [class*="col-"] {
		padding-left: 0;
		padding-right: 0;
	}

	.info-line .pull-left {
		float: none !important;
	}

	.info-line .pull-left + .pull-left {
		margin-left: 0;
	}

	.well small {
		display: block;
	}

	footer {
		font-size: 0.8em;
		text-align: center;
	}

	#nav-bottom > .nav-pills {
		float: none;
		display: inline-block;
		margin: 15px auto 0 auto;
	}
}

@media (max-width: 320px) {
	.logo img {
		display: block;
		margin: 0 auto 10px auto;
	}
}

/* sticky footer
--------------------*/

footer {
	font-size: 0.85em;
	border-top: 1px solid #eee;
	padding: 10px 0;
	margin-top: 20px;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
}

@media (max-width: 767px) {
	footer {
		line-height: 1em;
		padding-top: 15px;
	}

	footer .text-right {
		text-align: center;
	}
}